.contenedor{
    background: yellow;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "cabecera cabecera"
                         "cont1    cont1 "
                         "pie      pie ";
}
.contenedor .cabecera{
    background: bisque;
    grid-area: cabecera;
}
.contenedor .cont1{
    grid-area: cont1;

    img{
        text-align: center;
        width: 800px; height: 500px;
        margin: auto;
    }

}
.contenedor .pie{
    background: aqua;
    grid-area: pie;
}